.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: auto;
    margin-top: 2rem;
    max-width: 1200px;
    height: auto;
    background-color: #f0f0f0;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.login-left, .login-right {
    flex: 1;
}

.login-left {
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.login-left img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.login-right {
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-form h2 {
    font-size: 32px;
    margin-bottom: 10px;
}

.login-form p {
    font-size: 16px;
    color: #8c8c8c;
    margin-bottom: 20px;
}

.login-form label {
    font-size: 14px;
    margin-bottom: 8px;
    color: #333;
}

.login-form input {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
}

.password-container {
    position: relative;
}

.show-password-toggle {
    position: absolute;
    right: 12px;
    top: 12px;
    cursor: pointer;
}

.login-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0px;
}

.forgotpasslink{
    margin-top: -25px !important;
}

.login-btn, .google-login-btn {
    width: 100%;
    padding: 14px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}

.login-btn {
    background-color: #000;
    color: #fff;
    border: none;
}

.google-login-btn {
    background-color: #fff;
    color: #000;
    border: 1px solid #ccc;
    margin-top: 20px;
}

.signup-link {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    color: #4a4a4a;
}

.signup-link a {
    text-decoration: none;
    color: #000;
}

@media (max-width: 768px) {
    .login-container {
        flex-direction: column;
        padding: 20px;
        margin-top: 1rem;
    }

    .login-left, .login-right {
        width: 100%;
        flex: none;
    }

    .login-left {
        padding: 10px;
    }

    .login-right {
        padding: 20px;
    }

    .login-form h2 {
        font-size: 28px;
    }

    .login-form p, .login-form label {
        font-size: 14px;
    }

    .login-form input {
        padding: 10px;
        font-size: 14px;
    }

    .login-options {
        flex-direction: column;
        align-items: flex-start;
    }

    .login-options a {
        margin-top: 10px;
    }

    .login-btn, .google-login-btn {
        padding: 12px;
        font-size: 14px;
    }

    .signup-link {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .login-container {
        box-shadow: none;
    }

    .login-left img {
        width: 80%;
    }

    .login-right {
        padding: 10px;
    }

    .login-form h2 {
        font-size: 24px;
    }

    .login-form input {
        padding: 8px;
    }

    .login-btn, .google-login-btn {
        padding: 10px;
        font-size: 14px;
    }
}
